.ab {

}

.ab-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ab-title-wrapper {
    width: 1312px;
}

.ab-title-wrapper h3{
    padding-top: 50px;
}

.ab-title-wrapper span{
    margin-right: 10px;
}

.ab-title h1 {
    font-size: 6em;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ab-title h3 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4rem;
}

.ab-pic {
    box-shadow: rgba(50, 50, 93, 0.7) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 8px;
}

.ab-info-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.ab-details {
    display: flex;
    width: 1310px;
    justify-content: space-between;
}

.ab-details p {
    margin-top: 0;
    margin-left: 28px;
    /* text-align: justify; */
}

.ab-details-p {
    width: 800px;
    font-size: 1.5em;
    line-height: 1.6em;
}

.ab-details-p h2{
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    margin-left: 28px;
}

.ab-details-p span {
    margin-left: 28px;
}

.ab-exp {
    background-color: #f7f8fb;
}

.ab-exp-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ab-exp-wrapper h3 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4rem;
}

.ab-details-title h2 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.ab-exp-info {
    display: flex;
    width: 1310px;
    justify-content: space-between;
    margin-bottom: 70px;
}