.ab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ab-title {
    display: flex;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
}

.ab-title-wrapper {
    max-width: 1200px;
}

.ab-title-wrapper h3 {
    padding-top: 50px;
}

.ab-title-wrapper span{
    margin-right: 10px;
}

.ab-title h1 {
    font-size: 6em;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ab-title h3 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4rem;
}

.ab-pic {
    box-shadow: rgba(50, 50, 93, 0.7) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 8px;
}

.ab-container-all {
    max-width: 1210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
}

.ab-info-wrapper {
    padding-bottom: 100px;
}

.ab-details {
    display: flex;
    justify-content: space-between;
}

.ab-details p {
    margin-top: 0;
}

.ab-details-p {
    width: 100%;
    font-size: 1.27em;
    line-height: 1.8em;
    margin-left: 100px;
}

.ab-details-p h2 {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.3rem;
    margin-left: 28px;
}

.ab-details-title h2 {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.ab-hr {
    color: black;
    max-width: 1350px;
    width: 98%;
}

@media only screen and (max-width: 800px) {
    .ab-title {
        display: flex;
        justify-content: center;
    }

    .ab-title-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ab-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ab-title h1 {
        font-size: 4em;
        font-weight: 500;
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
    }

    .ab-info-wrapper {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .ab-details {
        display: flex;
        /* width: 400px; */
        width: 97%;
        flex-direction: column;
        align-items: center;
    }

    .ab-details-p {
        margin-top: 40px;
        width: 83%;
        font-size: 1.3em;
        margin-left: 0;
    }

    .ab-pic {
        width: 300px;
        height: 400px;
    }
    .ab-hr {
        width: 80%;
    }
}