#contact {
    /* height: 100vh; */
    margin-top: 20px;
}

.ct-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.ct-info-wrapper {
    width: 650px;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ct-form {
    /* margin-top: 25px; */
    /* width: 685px; */
    max-width: 800px;
    width: 100%;
}

/* .ct-title-wrapper {
    width: 1000px;
} */

.ct-title {
    display: flex;
    font-size: 4rem;
    font-weight: 500;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    margin-bottom: 30px;
    margin-left: 18px;
}

.ct-title h3 {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 5.5rem;
}

.ct-title span {
    color: gray;
    font-weight: 200;
    font-size: 1.7rem;
}

.ct-field {
    padding: 1rem;
    width: 100%; 
}

.outer-nb {
    display: block;
    bottom: 0;
    margin-right: 6vw;
    position: fixed;
    right: 0;
    transform: rotate(90deg);
    transform-origin: bottom right;
}

.outer-nb-list {
    display: flex;
    transform: rotate(-180deg);
    list-style: none;
    width: 250px;
    justify-content: space-evenly;
    align-items: center;
}

.outer-nb-list span {
    font-size: 0.85em;
}

.outer-nb-icon {
    transform: rotate(90deg);
}
/* .form-btn {
    width: 100%;
} */

@media only screen and (max-width: 800px) {
    .ct-info-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ct-title {
        width: 340px;
        text-align: center;
    }

    .ct-title h3 {
        font-size: 2.5rem;
        margin-top: -15px;
    }

    .ct-title span {
        font-size: 1.5rem;
    }

    .ct-form {
        width: 340px;
        margin-right: 6%;
        margin-top: 0;
    }

    .field {
        width: 100%;
    }

    .form-btn {
        margin-left: 0;
        width: 100%;  
    }
}