.ct {
    margin-top: 30px;
}

.ct-wrapper {
    display: flex;
    justify-content: center;
}

.ct-info-wrapper {
    max-width: 1350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ct-form {
    /* margin-top: 25px; */
    /* width: 685px; */
    max-width: 700px;
    width: 100%;
}

.ct-title {
    display: flex;
    font-size: 4rem;
    font-weight: 500;
    flex-direction: column;
    /* margin-bottom: 20px; */
}

.ct-title h3 {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 4rem;
}

.ct-title span {
    color: gray;
    font-weight: 200;
    font-size: 1.7rem;
}

.ct-field {
    padding: 1rem;
    width: 100%; 
}

/* .form-btn {
    width: 100%;
} */

@media only screen and (max-width: 800px) {
    .ct-info-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ct-title h3 {
        font-size: 2.5rem;
        margin-top: -15px;
    }

    .ct-title span {
        font-size: 1.5rem;
    }

    .ct-form {
        width: 340px;
        margin-right: 6%;
        margin-top: 0;
    }

    .field {
        width: 100%;
    }

    .form-btn {
        margin-left: 0;
        width: 100%;  
    }
}