.ft {
    height: 10vh;
    margin-top: 40px;
    /* align-items: center; */
    /* background-color: #f7f8fb; */
}

.ft-wrapper {
    display: flex;
    justify-content: center;
}

.ft-hr {
    color: black;
    max-width: 1310px;
    /* width: 1313px; */
}

.ft-info {
    width: 1310px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.ft-info-wrapper {
}

.ft-cr {
    margin-top: 15px;
}

.ft-icons {
    margin-top: 15px;
}