.ft {
    height: 10vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: center; */
    /* background-color: #f7f8fb; */
}

.ft-wrapper {
    display: flex;
    justify-content: center;
    width: 87.8%;
}

.ft-hr {
    color: black;
    /* max-width: 1310px;
    margin: auto; */
    width: 87.8%;
    /* width: 1313px; */
}

.ft-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.ft-cr {
    margin-top: 15px;
}

.ft-icons {
    margin-top: 15px;
}


@media only screen and (max-width: 800px) {

    .ft-info {
        width: 340px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ft {
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .ft-hr {
        width: 80%;
    }
}