.ft {
    height: 15vh;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    /* align-items: center; */
    /* background-color: #f7f8fb; */
}

.ft-hr {
    color: black;
    width: 50%;
}

.ft-info {
    width: 50%;
    display: flex;
    margin-left: 25%;
    justify-content: space-between;
    align-items: center;
}

.ft-cr {
    margin-top: 15px;
}

.ft-icons {
    margin-top: 15px;
}