.nb {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: transparent;
}

.nb-bg {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #f7f8fb;
}

.nb-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    font-size: 1.2rem;
}

.nb-left {
    cursor: pointer;
}

.nb-left img {
    width: 65px;
    height: 65px;
    object-fit: cover;
}

.nb-right {
    display: flex;
    justify-content: space-evenly;
}

.nb-right div {
    margin-left: 50px;
    cursor: pointer;
}

.nb-right-menu {
    display: none;
}

.nb-menu-links {
    position: absolute;
    display: flex;
    width: 88%;
    justify-content: space-around;
    margin-top: 20px;
}

@media only screen and (max-width: 420px) {
    .nb-right-menu {
        display: block;
    }

    .nb-right {
        display: none;
    }

    .nb-wrapper {
        width: 360px;
        font-size: 1.2rem;
    }
}