.nb {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: transparent;
}

.nb-menu-wrapper {
    /* width: 90%; */
    width: 1200px;
    padding-left: 50px;
    padding-right: 50px;

}

.nb-bg {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #f7f8fb;
}

.nb-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.88rem;
}

.nb-left img {
    width: 65px;
    height: 65px;
    object-fit: cover;
}

.nb-right {
    display: flex;
    justify-content: space-evenly;
}

.nb-right div {
    margin-left: 35px;
}

.nb-right-menu {
    display: none;
    cursor: none;
}

.nb-menu-links {
    /* position: absolute; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.nb span {
    position: relative;
    display: block;
    font-weight: 500;
    letter-spacing: 1.1px;
}
  
.nb span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: black;
}

.nb span:before {
    left: -2.5px;
}

.nb span:after {
    right: 2.5px;
    background: black;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nb span:hover:before {
    background: black;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nb span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.ham-icon {
    cursor: crosshair;
}

@media only screen and (max-width: 800px) {
    .nb-right-menu {
        display: block;
    }

    .nb-right {
        display: none;
    }
    
    .nb-left-home {
        display: none;
    }

    .nb-wrapper {
        /* width: 360px; */
        font-size: 1rem;
    }
}