.nb {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: transparent;
    
}

.nb-bg {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #f7f8fb;
}

.nb-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    font-size: 1.2rem;
}

.nb-left {
    cursor: pointer;
}

.nb-right {
    display: flex;
    justify-content: space-evenly;
}

.nb-right div {
    margin-left: 50px;
    cursor: pointer;
}