#projects {
    background-color: #f7f8fb;
    /* background-color: black; */
}

.pj-title {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 500;
}

.pj-title h3{
    font-weight: 500;
}

.pj-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.pj-img {
    max-width: 700px;
    max-height: 500px;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.7) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}

.pj-img-tall {
    max-height: 800px;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.7) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}

.pj-img-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    margin-bottom: 50px;
}

.pj-cards {
    display: flex;
    justify-content: center;
}

.pj-cards h2 {
    font-size: 3.5em;
    font-weight: 600;
}

.pj-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.pj-info-title h4 {
    font-weight: 500;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pj-info span {
    color: gray;
}

.pj-title-wrapper {
    cursor: pointer;
}

.pj-info-title {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.pj-info-tall {
    margin-top: 158px;
}

.pj-img-right {
    display: flex;
    flex-direction: column;
}

.arrowIcon {
    margin-top: 4px;
}