.p1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: #f7f8fb; */
}

.p1-img-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 1310px; */
    max-width: 1210px;
    /* width: 70%; */
    margin: auto;
}

.p1-img-wrapper h1 {
    font-size: 5em;
    font-weight: 600;
    margin: 0;
}

.p1-img-wrapper h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: gray;
    margin-top: 0;
}

.proj-img {
    /* max-width: 1310px; */
    width: 100%;
    /* height: 1000px; */
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.7) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.p1-hr {
    color: black;
    width: 100%;
    /* max-width: 1310px; */
    margin-top: 30px;
}

.p1-info {
    padding-bottom: 40px;
}

.p1-info-wrapper {
    display: flex;
    margin-top: 20px;
}

.p1-info p {
    line-height: 2.5rem;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 20px;
    color: gray;
}

.p1-info span {
    font-size: 1.8em;
    font-weight: 700;
}

.p1-info h4 {
    font-size: 1.1em;
    margin-top: 10px;
    font-weight: 500;
    color: gray;
}

.p1-info-role {
    /* margin-right: 100px; */
    margin-right: 5%;
}

.p1-info-links {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    cursor: pointer;
}

.p1-info-links h4 {
    margin: 0;
    margin-left: 10px;
}

.p1-links {
    display: flex;
    align-items: center;
}

.contr h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.p1-contr {
    margin-top: 20px;
}

.p1-contr span{
    font-weight: 700;
}

.p1-contr p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2rem;
    color: gray;
}

/* .react-player { */
    /* position: relative;
    padding-top: 56.25%;  */
    /* width: 100%;
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.7) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
/* } */

.player-wrapper {
    position: relative;
    margin-top: 30px;
    padding-top: 56.25%;
}
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 800px) {

    .p1-img-wrapper h1 {
        font-size: 3em;
    }

    .p1-img-wrapper h3 {
        font-size: 1.2em;
    }

    .proj-img {
        width: 370px;
    }

    .p1-img-wrapper {
        width: 420px;
    }

    .p1-info-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .p1-info {
        width: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p1-info span {
        font-size: 1.5em;
    }

    .p1-info-role {
        margin-right: 20px;
    }

    .p1-links {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .p1-info-links {
        width: 370px;
        flex-direction: row;
        /* justify-content: space-evenly; */
    }

    .p1-hr {
        width: 370px;
    }

    .player-wrapper {
        padding-top: 0;
    }

    .react-player {
        position: relative;
    }
    
}