.p1 {
    display: flex;
    justify-content: center;
    background-color: #f7f8fb;
}

.p1-img-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1310px;
}

.p1-img-wrapper h1 {
    font-size: 5em;
    font-weight: 600;
    margin: 0;
}

.p1-img-wrapper h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: gray;
    margin-top: 0;
}

.proj-img {
    width: 1309px;
    /* height: 1000px; */
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.7) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.p1-hr {
    color: black;
    width: 1310px;
    margin-top: 30px;
}

.p1-info {
    padding-bottom: 50px;
}

.p1-info-wrapper {
    display: flex;
    margin-top: 20px;
}

.p1-info p {
    line-height: 2.5rem;
    font-size: 2em;
    margin: 0;
}

.p1-info span {
    font-size: 1.8em;
}

.p1-info h4 {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: 400;
    color: gray;
}

.p1-info-role {
    margin-right: 100px;
}

.p1-info-links {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

.p1-info-links h4 {
    margin: 0;
    margin-left: 10px;
}

.p1-links {
    display: flex;
    align-items: center;
}

.contr h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.p1-contr {
    margin-top: 30px;
}

.p1-contr span{
    font-weight: 500;
}

.p1-contr p {
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 2rem;
}