.pj {
    /* height: 100vh; */
    background-color: #f7f8fb;
}

.pj-title {
    display: flex;
    /* justify-content: center; */
    width: 70%;
    font-size: 4rem;
    font-weight: 500;
}

.pj-title h3{
    font-weight: 500;
}

.pj-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pj-container {
    width: 70%;
}

.pj-img {
    /* width: 100%; */
    /* height: 50%; */
    max-width: 1000px;
    /* width: 1000px; */
    height: 650px;
    object-fit: contain;
    box-shadow: rgba(50, 50, 93, 0.7) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 50px;
}

.pj-img-wrapper {
    width: 70%;
    object-fit: contain;
}